body {
    background-color: green;
}

.container {
    max-width: 850px;
    
}

/* Nav bar */
#companyName{
    color: green;
}

#settings {
    color: red;
}

/* Products Section */

#products{
    background-color: lightgreen;
    padding: 8px 18px;
    border-radius: 15px;

}